// color

$menu-fg-color : #283342;
$menu-bg-color : #1D242E;
$menu-active-color: #009099;
$menu-active-text-color: rgb(64, 158, 255);

$main-bg-color: rgb(237, 241, 245);
$second-bg-color : #F7FAFD;
$base-input-bg-color: #E3EBF3;

// heigth
$header-height: 60px;